################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FSD Project/FSD Project/bin/Debug/net5.0
/FSD Project/FSD Project/obj
